.side_bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #181818;
    width: 32rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    color: white;
}

.edit_delete_button {
    padding-right: .5rem;
    color: rgb(206, 206, 206);
}

/* feed css */
.feeds_container {
    margin-top: 2rem;
}
.single_feed {
    display: flex;
    flex-direction: row;
    padding: .5rem;
}
.feed_name {
    color: rgba(255,255,255,.68);
    font-size: .815rem;
    font-weight: 600;
    padding-right: .5rem;
}

/* source css */
.source_container {
    padding-left: 1rem;
}
.single_source {
    display: flex;
    flex-direction: row;
    padding: .5rem;
}
.source_name {
    color: rgba(255,255,255,.68);
    font-size: .815rem;
    font-weight: 600;
    padding-right: .5rem;
}
