/* TODO Remove border */
* {
    /* border: 1px solid white; */
}
.main_content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #121212;
    height: 100%;
    width: calc(100% - 21rem);
    padding-left: 21rem;
    position: relative;
    top: 0;
    right: 0;
    overflow: hidden;
}
.content_container {
    height: 100%;
    /* max-width: 85rem; */
    /* overflow-y: scroll; */
    
    position: relative;
    right: 0;
    width: 100%;
}
.top_container {
    height: 5rem;
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.entry_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content:center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.single_article {
    display: flex;
    flex-direction: column;
    align-content:center;
    width: 15rem;
    height: 18rem;
    margin: 4rem;
}
.article {
    padding-top: .3rem;
    padding-bottom: .2rem;
}
.article_image {
    width: 250px;
    height: 180px;
}
.article_title {
    font-weight: 16px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    display: block;
    font-family: sans-serif;
    line-height: 2rem;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    text-decoration: none;
}
.article_snippet {
    font-size: 13px;
    color: #818181;
    line-height: 18px;
    margin-top: 0.5rem;
    margin-bottom: 0;
    max-height: 54px;
    overflow: ellipsis;
}
.loading_text {
    margin: 30rem 0;
    text-align: center;
}
